* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

.main {
    position: relative;
    background: url("sastanasha.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

.text {
    position: relative;
    z-index: 1;
    margin-top: -70px;

}

.text h1,
p {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.text p {
    word-spacing: 1px;
    color: grey;
    font-size: 1.1rem;

}

.text h1 {
    font-size: 3.4rem;
}

span {
    color: rgba(173, 29, 235, 1);
}

.button {
    margin-left: 38%;
    padding: 10px 30px;
    background-color: rgba(173, 29, 235, 1);
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;

}

.button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;
}

.main1 {
    background-color: black;
    color: white;

    text-align: center;
    padding-top: 20px;
}

.main1 h2 {
    font-size: 2.9rem;
}

.main1 p {
    padding-top: 15px;
    font-size: 22px;
}

.series {
    display: flex;
    margin-left: 33px;

}


.all-in-one {
    padding: 10px 23px;
    margin-left: 13px;
    font-size: 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    margin-top: 14px;
    color: rgb(146 146 146);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50px;
}

.series .all-in-one:hover {
    background-color: rgba(22, 22, 22, 1);
    color: white;

}

.about {
    background-color: black;
    color: white;

}

.container {
    display: flex;
    margin-left: 38px;
    


}

.container img {
    padding: 25px;
}

.Marvle {
    margin-left: 59px;
    padding-top: 50px;
    color: rgba(173, 29, 235, 1);
    font-size: 2.2rem;
    padding-bottom: 20px;



}
.last {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 14%;
}
.last-but-not-least h1 {
    padding-bottom: 25px;
}
.last-but-not-least p {
    padding-bottom: 55px;
    color: grey;
    font-size: 1.1rem;
    word-spacing: 1px;
}

.turth {
    margin-right: 80px;

}
a{
    text-decoration: none;
    color: rgb(146 146 146);
}
.series a:hover{
    background-color: rgba(22, 22, 22, 1);
    color: white;

}

.last1 {
    background-color: black;
    
    text-align: center;
    padding-top: 90px;
}
.last-but-not {
    color: white;
    font-size: 2.1rem;
    word-spacing: 1px;

}
.last-but-not p{
    font-size: 1.1rem;
    color: grey;
    padding-top: 10px;
}

.office {
    background-color: black;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.price {
    font-size: 2rem;
margin-right: 35px;}

.names {
    font-size: 2rem;
}